* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 25rem;
  margin: 0 auto;
}

.screen {
  height: 150px;
  background-color: aquamarine;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: black;
  height: 30rem;
  gap: 0.8rem;
  padding: 1rem;
}

.buttons :nth-child(17) {
  grid-column: 1/span 2;
}

button {
  font-size: 1.5rem;
  font-weight: 600;
  border: 0;
  color: aliceblue;
  background-color: transparent;
}

.operator {
  background-color: #3c0958;
  border-radius: 1rem;
}
