* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 25rem;
  overflow: hidden;
  border-radius: 1rem;
}

.screen {
  height: 150px;
  background-color: #858694;
  padding: 1rem;
  font-size: 2rem;
  color: aliceblue;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: black;
  height: 30rem;
}

.buttons :nth-child(17) {
  grid-column: 1/span 2;
}

button {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  background-color: #e0e0e0;
}

.operator {
  background-color: #f4913e;
}
