* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 30rem;
  overflow: hidden;
}

.screen {
  display: flex;
  justify-content: flex-end;
  height: 5rem;
  background-color: #858694;
  padding: 1rem;
  font-size: 2rem;
  color: aliceblue;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: black;
  height: 18rem;
}

.buttons :nth-child(17) {
  grid-column: 1/span 2;
}

button {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(43, 43, 43, 0.67);
  border: 1px solid #858694;
  background-color: #e0e0e0;
}

.operator {
  background-color: #f4913e;
}
